body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

.justify-text {
    text-align: center;
}

.navbar-nav .nav-item.active .nav-link {
    color: #111111 !important;
    font-weight: bold;
    text-align: center;
}


.about-heading {
    margin-bottom: 5px; 
    font-size: 70px;
}

.meet-heading{
    font-size: 50px;
    color:#940C0C;
}
.banner-image {
    max-width: 100%; /* Adjust as needed */
    max-height: 100%; /* Adjust as needed */
}
.card-title{
    color: #940C0C ;
    font-weight: bold;
    text-align: center;
}

